<body class="login-page">
  <header>
    <img class="logo" src="../../assets/images/left-arrow.png">
    <div class="text">Adicionar Certificado</div>  
  </header>
  <div class="form">
    <ion-item>
      <ion-label position="floating">Quantidade de horas</ion-label>
      <ion-input placeholder="Digite a quantidade de horas"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Certificado</ion-label>
      <ion-input placeholder="Insira o certificado"></ion-input>
    </ion-item>
    <button>CONFIRMAR</button>
  </div>
</body>
