.toast-success {
    background: #00aeff;
}

.item-has-focus {
    border-color: #0F0F0F !important;
}

* {
    border-color: #0F0F0F !important;
}

.sc-ion-searchbar-md {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}