.home-student {
    height: 100vh;

    .input-search {
      display: flex;
      top: 150px;
      position: absolute;
      justify-content: center;
      height: 100px;
      width: 100%;

      .quadrado{
        width: 100px;
        height: 100px;
        background-color: #8b3a3a;
        border: 2px solid #5599FF;
        border-radius: 50%;
      }
    }

    .user-content {
        display: flex;
        align-items: center;
        gap: 8px;
    }


    .top-header-background {
      display: flex;
      width: 100%;
      justify-content: space-between;
      background-color: #8b3a3a;
      padding: 0 10px;
      height: 15%;
      align-items: center;
  
      .fixed-logo {
        height: 4.5rem;
      }
  
      .user-icon {
        height: 2.2rem;
      }
    }
  
    .page-content {
      height: 85vh;
      background-color: #fff;

      .add-icon {
        position: absolute;
        right: 25px;
        bottom: 25px;

        ion-fab-button {
            --background: #8b3a3a;
        }
      }

      ul {
        padding: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 13px;
  
        li {
          background: #ffffff;
          list-style: none;
          box-shadow: -3px 4px 10px rgba(99, 99, 99, 0.25);
          padding: 0 13px;
  
          button {
            width: 100%;
            background: #ffffff;
  
            .certificate-card {
              display: flex;
              justify-content: space-between;
  
              p {
                color: #646464;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
              }
  
              img {
                height: 36px;
              }
            }
          }
        }
      }
    }
}

  