<body class="home-student">
  <div class="top-header-background">
    <div class="user-content">
      <img class="user-icon" src="../../assets/images/user.png" />
      <p>{{student.name}}</p>
    </div>
    <img class="fixed-logo" src="../../assets/images/logo_catolica_min.png" />
  </div>
  <div class="page-content">
    <div class="page-content">
      <ul>
        <li *ngFor="let certificate of certificates">
          <button>
            <div class="certificate-card">
              <p>{{certificate.dateCreation | date : 'dd/MM/yyyy'}}</p>
              <p>{{certificate.amountHours}}</p>
              <img src=".././../assets/images/arrow_right.png" />
            </div>
          </button>
        </li>
      </ul>
      <ion-fab (click)="addCertificate()" class="add-icon">
        <ion-fab-button>
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </div>
  </div>
</body>
