.home-student {
    .input-search {
      display: flex;
      top: 150px;
      position: absolute;
      justify-content: center;
      height: 100px;
      width: 100%;

      .quadrado{
        width: 100px;
        height: 100px;
        background-color: #8b3a3a;
        border: 2px solid #5599FF;
        border-radius: 50%;
      }
    }
    .top-header-background {
      display: flex;
      width: 100%;
      justify-content: space-between;
      background-color: #8b3a3a;
      padding: 0 10px;
      height: 15%;
      align-items: center;
  
      .fixed-logo {
        height: 4.5rem;
      }
  
      .user-icon {
        height: 2.2rem;
      }
    }
  
    .page-content {
      height: 85%;
      background-color: #fff;
    }
}

  