<body class="edit-page">
  <header>
    <input class="logo" type="image" (click)="backToHome()" src="../../assets/images/left-arrow.png">
    <div class="text">Editar Certificado</div>  
  </header>
  <div class="form">
    <div class="time-input">
      <ion-label>Certificado</ion-label> 
      <input placeholder="Insira o certificado" type="time" [(ngModel)]="certificate.amountHours"/>
    </div>
    <div class="buttonBox">
      <button class="buttonAccept" (click)="alterCertificate()">Confirmar</button>
    </div>
  </div>
</body>
