.edit-page {
    background-color: #F0F0F0;

    header {
        display: flex;
        background-color: #8B3A3A;
    }

    .text {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .logo {
        width: 35px;
        height: 35px;
        margin: 10px;
    }

    .buttonReject {
        background-color: #EBEBEB;
        border: 2px solid #8B3A3A;
        color: #8B3A3A;
    }

    .buttonAccept {
        background-color: #8B3A3A;
    }

    .form {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 25px 0;
        width: 100%;
        height: 100%;
        bottom: 0;
        color: #0F0F0F;
        animation: slide-bar 1s;

        ion-label,
        ion-input {
            color: #0F0F0F !important;
        }

        ion-item {
            width: 80%;
            --background: none;
        }

        button {
            padding: 10px;
            border-radius: 30px;
            width: 120px;
            animation: show 1s;
            margin: 50px 0;
            font-size: 16px;
            margin: 10px;
        }
    }

    .time-input {
        width: 80%;
        margin-top: 25px;
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid #0F0F0F;

        ion-label {
            margin-left: 16px;
        }

        input {
            background-color: #F0F0F0 !important;
            border: unset;
            margin-left: 16px;

            &:focus {
                box-shadow: 0 0 0 0;
                border: 0 none;
                outline: 0;
            }
        }
    }
}