<body class="edit-page">
  <header>
    <img class="logo" src="../../assets/images/left-arrow.png">
    <div class="text">Editar Certificado</div>  
  </header>
  <div class="form">
    <ion-item>
      <ion-label position="floating">Quantidade de horas</ion-label>
      <ion-input placeholder="Digite a quantidade de horas"></ion-input>
    </ion-item>
    <div class="buttonBox">
      <button class="buttonReject">Excluir</button>
      <button class="buttonAccept">Confirmar</button>
    </div>
  </div>
</body>
